:root {
  color-scheme: light dark;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f6f7fb;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
}

* {
  box-sizing: border-box;
}
